#cart{
    display: grid;
    grid-template-columns: repeat(3,30%);
    justify-content: center;
    grid-gap: 25px;
}
#cart>div{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding-top: 5px;
}
.text{
    padding: 27px ;
}